body {background: #B40404; margin: 0; padding: 0;} 

#wrapper {
	margin: 0px;
	padding: 0;
	width: 100%;
	min-width: 1750px;
	text-align: left;
	position: relative;
}

#maincontent {
	margin: 80px 10% 0px 10%;
	padding: 0px;
	width: 80%;
	min-width: 1400px;
	height: 1500px;
	text-align: left;
	position: absolute;
	box-shadow: 2px 2px 10px #2E2E2E;
}

#header {
	margin: 0px;
	width: 100%;
	height: 300px;
	text-align: left;
	position: absolute;
	z-index: 50;
	box-shadow: 0px 0px 5px #888888;
}

#leftblock {
	margin-left: 2%;
	margin-top: 320px;
	min-width: 420px;
	width: 30%;
	height: 500px;
	text-align: left;
	position: absolute;
	z-index: 50;
	box-shadow: 3px 3px 5px #888888;
}

#mainblock {
	margin-left: 36%;
	margin-top: 320px;
	min-width: 420px;
	width: 62%;
	height: 500px;
	text-align: left;
	position: relative;
	z-index: 50;
	box-shadow: 3px 3px 5px #888888;
}

.ProfImage {
	margin-left: 5%;
	margin-top: 5%;
	margin-right: 5%;
	float: left;
	box-shadow: 3px 3px 5px #1C1C1C;
}

.mainskin {
	background: #F2F2F2;
}

.bgskin {
	background: #B40404;
}

.headerskin {
	background: #ffffff;
}

.blockskin {
	background: #B40404;
}